* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#0089da, #0067ad);
  background-repeat: no-repeat;
  height: 100vh;
}

.main-calendar td {
  position: relative;
  border: 3px solid #ffffff;
  vertical-align: top;
}
.main-calendar .day {
  height: 100px;
  padding: 8px;
}
.main-calendar .day-number .day-span {
  line-height: 25px;
  position: relative;
  z-index: 2;
  right: 5px;
  top: 2px;
  float: right;
  width: 25px;
  text-align: center;
  background: #999999;
  font-size: 14px;
  color: #ffffff;
}
.main-calendar .calendar-head {
  background-color: #ee3019;
  color: #ffffff;
  border: 3px solid #ffffff;
  width: 200px;
}
.main-calendar {
  margin: auto;
}
td.calendar-day-prev {
  background: #cccccc;
}
td.day.calendar-day {
  background: #ededed;
}
.calendar-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calendar-wrapper .card {
  border-radius: 20px;
}
.calendar-btns {
  text-align: center;
}
.calendar-btns select {
  padding: 5px 10px;
  height: 38px;
}
button.close {
  border: none;
  background: transparent;
  font-size: 24px;
}
.calendar-btns form {
  display: inline-block;
}
.icon i {
  color: #428bc9;
}
a.icon.disabled i {
  cursor: not-allowed;
  color: #b1b1b1;
}
.btn-addevent {
  background-color: #428bc9 !important;
  color: #ffffff !important;
}