* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #8085a5 !important;
  height: 100vh;
}
.main-calendar td {
  position: relative;
  border: 1px solid #2e3140;
  vertical-align: top;
}
.main-calendar .day {
  height: 100px;
  padding: 8px;
}
.main-calendar .day-number .day-span {
  line-height: 25px;
  position: relative;
  z-index: 2;
  right: 0;
  top: 0;
  float: right;
  width: 25px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.main-calendar .calendar-head {
  color: #ffffff;
  border: 1px solid #2e3140;
  width: 200px;
  background-color: #323441;
}
.main-calendar {
  margin: auto;
}
td.calendar-day-prev {
  background: #525461;
}
td.day.calendar-day {
  background: #323441;
  position: relative;
}
.calendar-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calendar-wrapper .card {
  border-radius: 20px;
  background-color: #494b58 !important;
}
.calendar-btns form {
  max-width: 350px;
  width: 100%;
}
.calendar-btns select {
  padding: 5px 10px;
  height: 38px;
  width: 100%;
  outline: 0;
}
.calendar-btns select:focus {
  border-color: #494b58;
  box-shadow: none;
}
button.close {
  border: none;
  background: transparent;
  font-size: 24px;
}
.icon {
  font-size: 14px;
}
.icon i {
  color: #fff;
}
a.icon.disabled i {
  cursor: not-allowed;
  color: #4f4f4f;
}
.btn-addevent {
  background-color: #f74174 !important;
  color: #ffffff !important;
}
a.event {
  text-decoration: none;
  color: #fff;
  display: block !important;
  position: absolute;
  top: 35px;
  background-color: #f74174;
  width: 100%;
  left: 0;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
  border-left: 4px solid #d01449;
}
a.event:hover {
  color: #fff;
}
@media only screen and (max-width: 767px){
  .calendar-wrapper {
    width: 90% !important;
    max-width: 100% !important;
  }
  .calendar-btns {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center !important;
    align-items: center !important;
  }
  .main-calendar .calendar-head {
    padding: 1rem;
  }
  .table-wrapper {
    overflow-x: auto;
  }
}